{% extends 'base.html' %}

{% block title %}Додати будинок{% endblock %}

{% block content %}
<div class="container">
    <h2>Додати будинок</h2>
    <form method="post" action="{{ url_for('add_home') }}">
        <div class="form-group">
            <label for="name">Назва</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="address">Адреса</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>
        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
</div>
{% endblock %}
